<template>
    <div class="login-container">
        <div class="login-head">
            <h1 id="login-title" >SensorHub</h1>
        </div>
        <div class="login-outer-form">
            <sui-label basic color="red" v-if="loginError"> {{lgErrorMsg}} </sui-label>
            <sui-form v-on:submit.prevent="onLogin">
                <div class="login-inner-form">
                    <sui-form-field  inline>
                        <sui-input fluid type="text" v-model="lname" placeholder="Username" icon="user" icon-position="left" :error="loginError"/>
                        <sui-label basic color="red" v-if="formErrors.lgname" pointing>Please fill in username!</sui-label>
                    </sui-form-field>
                    <sui-form-field inline>
                        <sui-input fluid type="password" v-model="lpassword" placeholder="Password" icon="lock" icon-position="left" :error="loginError"/>
                        <sui-label basic color="red" v-if="formErrors.lgpw" pointing>Please fill in password!</sui-label>
                    </sui-form-field>
                    <sui-button positive fluid content="Login" type="submit"></sui-button>
                </div>
            </sui-form>
        </div>
        <div class="login-foot">
            Don't have a Account?
            <a href="#" @click="toggleModal">Sign up here</a>
            <sui-modal v-model="open">
                <sui-modal-header>Create new Account</sui-modal-header>
                <sui-modal-content register-form>
                    <sui-label basic color="red" v-if="registerError"> {{rgErrormMsg}} </sui-label>
                    <sui-form v-on:submit.prevent="onRegister">
                        <sui-form-field required> 
                            <label>Username</label>
                            <sui-input type="text" v-model="rname" placeholder="Username" :error="registerError"/>
                            <sui-label basic color="red" v-if="formErrors.rgname" pointing>Please choose a username!</sui-label>
                        </sui-form-field>
                        <sui-form-field required> 
                            <label>Password</label>
                            <sui-input type="password" v-model="rpassword" placeholder="Password" :error="registerError"/>
                            <sui-label basic color="red" v-if="formErrors.rgpw" pointing>Your password should at least be 6 characters long!</sui-label>
                        </sui-form-field>
                        <div is="sui-button-group">
                            <sui-button negative type="reset" @click.native="toggleModal">Cancel</sui-button>
                            <sui-button-or/>
                            <sui-button positive type="submit" >Register</sui-button>#
                        </div>
                    </sui-form>
                </sui-modal-content>
            </sui-modal>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
    export default {
        // name of component
        name: 'Login',

        // register data for v-model and usage in script 
        data() {
            return {
                lname: null,
                lpassword: null,
                rname: null,
                rpassword: null,
                open: false,
                rgErrormMsg: null,
                lgErrorMsg: null,
                loginError: false,
                registerError: false,
                formErrors: {
                    lgname: false,
                    lgpw: false,
                    rgname: false,
                    rgpw: false
                }

            }
        },

        methods: {

            toggleModal() {
                this.open = !this.open;                
            },
            validateRg() {
                if(this.rname && this.rpassword && this.rpassword.length >= 6){
                    this.formErrors.rgname = false;
                    this.formErrors.rgpw = false;
                    return true;
                }

                this.formErrors = [];

                if(!this.rname){
                    this.formErrors.rgname = true;
                }
                if(!this.rpassword || this.rpassword.length < 6){
                    this.formErrors.rgpw = true;
                }
                return false;
            },
            validateLg() {
                if(this.lname && this.lpassword){
                    this.formErrors.lgname = false;
                    this.formErrors.lgpw = false;
                    return true;
                }

                this.formErrors = [];

                if(!this.lname){
                    this.formErrors.lgname = true;
                }
                if(!this.lpassword){
                    this.formErrors.lgpw = true;
                }
                return false;
            },
            onLogin(e) {
                if(this.validateLg()){
                    const URL = '/api/login';
                    const payload = {
                        name: this.lname,
                        password: this.lpassword
                    }

                    this.postRequest(URL,payload)
                    .then( resp => {
                        console.log(resp);
                        switch(resp.status) {
                            case 200:
                                this.loginError = false;
                                break;
                            case 400:
                                this.lgErrorMsg = resp.data.error;
                                this.loginError = true;
                                break;
                            default:
                                this.lgErrorMsg = resp.data.error;
                                this.loginError = true;
                                break
                        }
                    });
                    
                }

                

            },

            onRegister(e) {
                if(this.validateRg()){
                    const URL = '/api/register';
                    const payload = {
                        name: this.rname,
                        password: this.rpassword
                    }

                    this.postRequest(URL,payload)
                    .then( resp => {

                        switch(resp.status) {
                            case 200:
                                this.registerError = false;
                                break;
                            case 400:
                                this.rgErrormMsg = resp.data.error;
                                this.registerError = true;
                                break;
                            default:
                                this.rgErrormMsg = resp.data.error;
                                this.registerError = true;
                                break
                        }
                    })
                    
                }


            },

            async postRequest(url, payload){
                let resp = await axios.post(url, payload)
                .then( resp => {
                    this.$store.commit("loginUser",payload.name)
                    this.$router.push('sensor-hub')
                    return resp;
                }).catch(error => {
                    return error.response;
                });
                return resp;
            },

        }
    }

</script>
<style lang="css" scoped>


    .login-inner-form {
        margin: 2%;
    }

    .login-container {
        margin: 14px;
        width: 25%;
        position: absolute;
        top: 40%;
        left: 45%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    };


</style>
