<template>
    <sui-modal v-model="open" v-on:open="getTimestamp">
        <sui-modal-header>Measurement</sui-modal-header>
        <sui-modal-content >
            <sui-label basic color="red" v-if="measError">{{errorMsg}}</sui-label>
            <sui-form v-on:submit.prevent="onSubmit">
                <sui-form-field required> 
                    <label>Value</label>
                    <input type="text" v-model="mvalue" placeholder="Value">
                    <sui-label basic color="red" v-if="formErrors.mValue" pointing> Please specify valid measurement value! </sui-label>
                </sui-form-field>
                <sui-form-field> 
                    <label>Timestamp</label>
                    <input type="text" v-model="mtimestamp.datetime" placeholder="Timestamp">
                </sui-form-field>
                <sui-button type="submit">Add measurement</sui-button>
                <sui-button type="reset" @click="closeModal">Cancel</sui-button>

            </sui-form>
        </sui-modal-content>
    </sui-modal>
</template>

<script>
import axios from 'axios'
    export default {
        // name of component
        name: 'Measurement',
        props: [
            "sensor",
            "open"
        ],

        // register data for v-model and usage in script 
        data() {
            return {
                mid: this.sensor.id,
                mvalue: null,
                mtoken: this.sensor.apiToken,
                mtimestamp: {},
                measError:false,
                errorMsg: null,
                formErrors: {
                    mSID:false,
                    mValue: false,
                    mToken: false,
                }
            }
        },
        watch: {
            open: function () {
                this.mtimestamp = this.getTimestamp();
            },
        },

        methods: {

            closeModal() {
                this.open = false;
                this.$emit("closed");
            },

            validateMeasurement(){
                if(this.mvalue) {
                    this.formErrors.mValue = false;
                    return true;
                }
                this.formErrors.mValue = true;
                return false;
            },
            // reads user input and calls register method, still needs some cheking of the input
            onSubmit() {
                if(this.validateMeasurement()){
                    let temp_body = {
                            value: this.mvalue,
                            timestamp: this.mtimestamp.datetime,
                            token: this.mtoken                    
                    }
                    if (this.mtimestamp.datetime == ''){
                        delete temp_body["timestamp"]
                    }
                    const payload = {
                        headers:{
                            "content-type": "application/json; charset=UTF-8"
                        },
                        body: temp_body                    }
                    this.addMeasurement(payload);
                }

            },

            // sends reqeust to flask server to register user
            // data sctructure seems not to be quite right, flask server cant handle the request (HTTP 500 HANNES PLS CHECK)
            addMeasurement(payload){
                const URL = '/api/sensors/' + this.sensor.id;

                this.postRequest(URL, payload)
                .then( resp => {
                    switch(resp.status){
                        case 200:
                            this.measError = false
                            this.$emit("addedData");
                            this.closeModal();
                            break;
                        case 400:
                            this.measError = true;
                            this.errorMsg = resp.data.error;
                            break;
                        default:
                            this.measError = true;
                            this.errorMsg = resp.data.error;
                            break;
                    }
                })

            },

            async postRequest(url, payload){
                let resp = await axios.post(url, payload)
                .then (resp => {
                return resp;
                }).catch (error => {
                return error.response;
                })
                return resp;
            },

            getTimestamp () {
                var now = new Date();
                var year = "" + now.getFullYear();
                var month = "" + (now.getMonth() + 1); if (month.length == 1) { month = "0" + month; }
                var day = "" + now.getDate(); if (day.length == 1) { day = "0" + day; }
                var hour = "" + now.getHours(); if (hour.length == 1) { hour = "0" + hour; }
                var minute = "" + now.getMinutes(); if (minute.length == 1) { minute = "0" + minute; }
                var second = "" + now.getSeconds(); if (second.length == 1) { second = "0" + second; }
                let timestamp = {
                    datetime: year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second,
                    timestamp: now
                }
                return timestamp;
            }
        }
    }

</script>

