<template>
    <!-- <router-link v-for="item in items" :key="item.entry" :to="item.route" >{{item.entry}}</router-link> -->
    <sui-menu is="sui-sidebar" :visible="true" width="thin" inverted vertical>
        <div class="nav-tab">
            <h2 is="sui-header" inverted >SensorHub</h2>
        </div>
        <sui-divider fitted inverted/>

        <div class="nav-status">
            <sui-label v-if="loggedIn" size="large" icon="user" color="black">{{ user }}</sui-label>
            <sui-label color="green" v-if="loggedIn">Logged In</sui-label>
            <sui-label color="red" v-if="loggedIn == false">Logged Out</sui-label>

        </div>
        <sui-divider fitted inverted/>

        <a is="sui-menu-item" :active="isActive('/sensor-hub')" v-if="loggedIn" :key="sensors" :content="'Sensors'" :icon="'wifi'" @click="select('/sensor-hub')"/>
        <a is="sui-menu-item" :active="isActive('/login')" v-if="!loggedIn" :key="login" :content="'Login'" :icon="'sign-in'" @click="select('/login')"/>
        <a is="sui-menu-item" :active="isActive('/logout')" v-if="loggedIn" :key="logout" :content="'Logout'" :icon="'sign-out'" @click="logout"/>
        <a is="sui-menu-item" :active="isActive('/help')" :key="help" :content="'Help'" :icon="'help'" @click="select('/help')"/>
        <a is="sui-menu-item" :active="isActive('/about')" :key="about" :content="'About'" :icon="'about'" @click="select('/about')"/>
    </sui-menu>
</template>

<script>
import axios from 'axios'
export default {
  name: "Navigation",
  data() {
    return {
      active: "Dashboard",
    };
  },
  computed: {
     user: function(){
       return this.$store.state.user.name
     },
     loggedIn: function(){
       return this.$store.state.user.name != null
     }
  },
  created() {},
  mounted() {},

  methods: {
    test(){
        console.log("Test");
    },
    isActive(name) {
      return this.active === name;
    },
    select(route) {
      this.active = route;
      this.$router.push(route);
    },
    logout(){
      const URL = "/api/logout";
      axios.post(URL).
      then(resp=>{
        console.log(resp);
        this.$store.commit("logoutUser");
        sessionStorage.clear()
      }).catch(error =>{
        console.log(error);
      });
      this.$router.push("/login");
    }
  }
};
</script>

<style lang="css" scoped>

.nav-tab h2 {
    color:"white";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.nav-tab {
  width: 100%;
  height: 5%;
}

.nav-status {
  width: 100%;
  height: 10%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

</style>
