<template>
    <sui-card>
        <div>
        <Measurement :open="addMeasurementIsOpen" :sensor="this.sensor" v-on:closed="toggleAddMeasurement" v-on:addedData="retrieveSensorData()"/>
        <SensorSettings :settings="sensorSettings" :sensorId="sensor.id" v-on:deletion="handle_deletion"/>
        </div>
        <sui-label  attached="top left" v-if="isSubscriber==true">
            <sui-icon name="share alternate"/>
            Shared
        </sui-label>
        <sui-card-content>

            <sui-card-header>
                {{sensor.name}}
            </sui-card-header>
            <sui-card-meta>
                Sensor-ID: {{sensor.id}}
            </sui-card-meta>
            <sui-card-description>
                <highcharts v-if="useChart" class="chart" :options="dataChart"/>
                <Table :items="rmeasurements" v-if="useChart==false" class="dataTable" />
            </sui-card-description>
        </sui-card-content>
        <sui-card-content extra style="display: inline">
            <sui-button-group :widths="2">
              <sui-button floated="left" animated="vertical" v-if="isSubscriber==false" @click="toggleSettings">
                 <sui-button-content hidden> <sui-icon name="settings"/> </sui-button-content>
                 <sui-button-content visible> Settings </sui-button-content> 
                </sui-button>
                <sui-button floated="right" animated="vertical" compact
                    v-if="isSubscriber==false && !sensorSettings.externalSource"
                    v-clipboard:copy="sensor.apiToken"
                > 
                    <tippy content="Copied API-Token!" arrow="true" trigger="click" />
                <sui-button-content hidden> <sui-icon name="copy"/> </sui-button-content>
                <sui-button-content visible> API-Token </sui-button-content> 
                </sui-button>
                <sui-button disabled floated="right" animated="vertical" compact
                    v-if="isSubscriber==false && sensorSettings.externalSource"
                > 
                    <sui-button-content> API-Token </sui-button-content> 
                </sui-button>
            </sui-button-group>
        </sui-card-content>
        <sui-button attached="bottom" v-if="isSubscriber==false && !sensorSettings.externalSource" @click="toggleAddMeasurement">
          <sui-icon name="add" /> Add Measurement
        </sui-button>
        <sui-button disabled attached="bottom" v-if="isSubscriber==false && sensorSettings.externalSource">
        <sui-icon name="add" /> Add Measurement
        </sui-button>
        <sui-button attached="bottom" animated="vertical" v-if="isSubscriber==true" @click="toggleSettings">
            <sui-button-content hidden> <sui-icon name="settings"/> </sui-button-content>
            <sui-button-content visible> Settings </sui-button-content> 
        </sui-button>

    </sui-card>
</template>

<script>
import axios from 'axios'
import SensorSettings from './SensorSettings'
import Measurement from './Measurement'
import Table from './Table'

    export default {
        // name of component
        name: 'Sensor',
        components: {
            SensorSettings,
            Measurement,
            Table
        },
        props: ['sensor'],

        // register data for v-model and usage in script 
        data() {
            return {
                rid: this.sensor.id,
                rname: this.sensor.name,
                rapiToken: this.sensor.apiToken,
                rmeasurements: [],
                copied: false,
                addMeasurementIsOpen: false,
                sensorSettings: {
                    name: this.sensor.name,
                    isSubscriber: false,
                    open: false,
                    chartType: this.sensor.chartType,
                    notificationRule: this.sensor.notificationRule,
                    notificationAddress: this.sensor.notificationAddress,
                    notificationThreshold: this.sensor.notificationThreshold,
                    subscriber: this.sensor.subscribers,
                    externalSource: this.sensor.externalSource,
                },
                isSubscriber: false,
                useChart: false,
                dataChart: {
                    chart: {
                        type: null,
                        zoomType: 'x',
                        panning: true,
                        panKey: 'shift'
                    },
                    title: {
                        text: "Measurements - " + this.sensor.name,
                    },
                    yAxis: {
                        title: {
                            text: this.sensor.unit
                        },
                        labels: {
                            formatter: function() {
                                return this.value
                            }
                        }
                    },
                    xAxis: {
                        ordinal: true,
                        type: 'datetime',

                    },
                    plotOptions: {
                        series: {
                            turboThreshold: 10000,
                        }
                    },
                    series: [{
                        name: "Measurement in " + this.sensor.unit,
                        data: []
                    }]
                }
            }
        },

        created: function() {
            
            this.retrieveSensorData();
            if(this.sensor["publisher"] != null){
                this.isSubscriber = true; 
                this.sensorSettings.isSubscriber = true;
            } 
        },
        methods: {

            retrieveSensorData() {
                let URL;
                if(this.sensorSettings.externalSource == null || this.sensorSettings.externalSource == "") {
                    URL = '/api/sensors/' + this.sensor.id;

                } else {
                    URL = this.sensorSettings.externalSource;
                }
                const req = {
                    headers:{
                        "content-type": "application/json; charset=UTF-8"
                    },
                    body: {
                        sensor_id: this.sensor.id,
                    }
                }
                this.getRequest(URL, req)
                .then( resp => {
                    switch(resp.status){
                        case 200:
                            if(resp.data.blob_id != null){
                                this.blobGet(resp.data.blob_id);
                            } else {
                                this.rmeasurements = resp.data.measurements;
                                this.generateChart();
                            }
                            break;
                        case 400:
                            break;
                        default:
                            break;
                    }
                })
            },
            async blobGet(blobId) {
                this.useChart = false;
                axios.get("https://gitlab.com/api/v4/projects/18682576/repository/blobs/" + blobId + "/raw")
                .then(response => {
                this.rmeasurements = response.data.items;
                if(this.sensor.chartType == "table"){
                    this.useChart = false;
                } else {
                    this.useChart = true;
                    this.dataChart.chart.type = this.sensor.chartType;
                    this.dataChart.series[0].data = this.rmeasurements;
                }
                })
            },
            onCopy() {
               //alert("API-Token Copied!")
            },

            toggleSettings() {
                this.sensorSettings.open = !this.sensorSettings.open;
            },

            toggleAddMeasurement(){
                this.addMeasurementIsOpen = !this.addMeasurementIsOpen;
            },
            formatTableMeasurement() {
                let formatted = [];
                this.rmeasurements.forEach( measurement => {
                    let row = {
                        name: measurement.value,
                        number: new Date(measurement.timestamp), 
                    }
                    formatted.push(row);
                })
                this.rmeasurements = formatted;
            },
            formatMeasurement(){
                let formatted =  [];
                this.rmeasurements.forEach( measurement => {

                    // let dataSet = {[measurement.timestamp, measurement.value]}
                    let dataSet = {
                        x: measurement.timestamp,
                        y: measurement.value
                    }
                    formatted.push(dataSet)
                })
                this.rmeasurements = formatted;
            },  

            generateChart() {
                if(this.sensor.chartType == "table"){
                    this.useChart = false;
                    this.formatTableMeasurement();
                } else {
                    this.useChart = true;
                    this.formatMeasurement()
                    this.dataChart.chart.type = this.sensor.chartType;
                    this.dataChart.series[0].data = this.rmeasurements;
                }
            },

            async getRequest(url, payload) {
                let response = await axios.get(url, payload).
                then(resp => {
                    return resp;
                }).catch(error => {
                    return resp;
                })
                return response;
            },

            handle_deletion() {
                this.$emit("deletion");
                this.sensorSettings.open = false;
            },
        }
    }

</script>

<style lang="css" scoped>


</style>
