<template>
    <sui-modal v-model="settings.open" class="settings-modal" >
        <sui-modal-header>Settings - {{settings.name}}</sui-modal-header>
        <sui-modal-content class="settings-content">
            <sui-divider horizontal>Data Display</sui-divider>
            <sui-form id="settings-form" v-on:submit="updateSettings">
                <div class="data-settings">
                    <sui-form-field>
                        <label>Display Data as: </label>
                        <sui-dropdown
                            placeholder="Display Method"
                            selection
                            :options="chartTypeOptions"
                            v-model="chartType"
                        />
                    </sui-form-field>
                    <sui-form-field>
                        <label>Email address for notifications: </label>
                        <sui-input class="mail-tooltip" disabled v-if="notificationRule == 0" placeholder="you@example.com"/>
                        <sui-input class="mail-tooltip" v-if="notificationRule !=0" v-model="notificationAddress" placeholder="you@example.com"/>
                        <tippy v-if="validMailAdress" toSelector=".mail-tooltip" arrow="true">Ok!</tippy>
                        <tippy v-if="!validMailAdress" toSelector=".mail-tooltip" arrow="true">Has to be a valid email address.</tippy>
                        <p v-if="validMailAdress"> Ok! </p>
                    </sui-form-field>
                    <sui-form-field >
                        <label>Notification Rule: </label>
                        <sui-dropdown style="width: 49%;"
                            selection
                            :options="notificationRuleOptions"
                            v-model="notificationRule"
                        />
                    <input class="threshold-tooltip" type="number" style="width: 49%; margin-left: 2%;" size="large" placeholder="Value" v-model.number="notificationThreshold" v-if="notificationRule != 0 && notificationRule !== 4"/>
                    <input class="threshold-tooltip" type="number" disabled style="width: 49%; margin-left: 2%;" size="large" placeholder="Value" v-model="notificationThreshold" v-if="notificationRule == 0 || notificationRule == 4"/>
                    <!-- v-bind:class="{ 'threshold-ok': validThreshold, 'threshold-not-ok': !validThreshold}" -->
                    <tippy v-if="validThreshold" toSelector=".threshold-tooltip" arrow="true">Ok!</tippy>
                    <tippy v-if="!validThreshold" toSelector=".threshold-tooltip" arrow="true">Has to be a valid decimal number.</tippy>
                    </sui-form-field>
                </div>
                <sui-divider horizontal v-if="this.settings.isSubscriber == false">Advanced Settings</sui-divider>
                <div class="advanced-settings"  v-if="this.settings.isSubscriber == false">
                    <sui-form-field>
                        <label>External Data Source: </label>
                        <sui-input v-model="externalSource" placeholder="API"/>
                    </sui-form-field>
                    <sui-form v-on:submit.prevent>
                        <sui-form-field form="subscriber_list">
                        <label>Shared with: </label>
                            <sui-item-group divided class="subscriber-list">
                                <sui-item
                                    v-for="subscriber in this.settings.subscriber"
                                    v-bind:key="subscriber.id"
                                >
                                    <sui-item-content>
                                        <sui-label> {{subscriber.userName}} </sui-label>
                                        <sui-button form="subscriber-list" @click="deleteSubscriber(subscriber)" size="mini" icon="close"/>
                                    </sui-item-content>
                                </sui-item>
                            </sui-item-group>
                        </sui-form-field>
                        <sui-form-field>
                            <input style="width: 30%; margin-right: 1%;" v-model="newSubscriber" placeholder="Username"/>
                            <sui-button form="subscriber_list" @click="addSubscriber" icon="user plus"/>
                        </sui-form-field>
                    </sui-form>
                </div>
            </sui-form>
        </sui-modal-content>
        <sui-modal-actions class="settings-actions">
            <sui-button id="delete-sensor" basic color="red" @click="deleteSensor">
                Delete Sensor
            </sui-button>
            <sui-button-group>
                <sui-button @click="closeSettings">Cancel</sui-button>
                <sui-button-or />
                <sui-button positive disabled v-if="!notificationPossible">
                    Save
                </sui-button>
         
                <sui-button positive @click="updateSettings" v-if="notificationPossible">
                    <tippy content="Saved" arrow="true" trigger="click" />
                    Save
                </sui-button>
            </sui-button-group>
        </sui-modal-actions>
    </sui-modal>
</template>
<script>
import axios from 'axios'
export default {
    name: 'SensorSettings',
    props: ['settings', 'sensorId'],


    data() {
        return{
            chartTypeOptions: [
                {text: "Line Chart", value: "line"},
                {text: "Column Chart", value: "column"},
                {text: "Bar Chart", value: "bar"},
                {text: "Table", value: "table"}
            ],
            chartType: this.settings.chartType,
            notificationRuleOptions: [
                {text: "Never", value: 0},
                {text: "Measurement value =", value: 1},
                {text: "Measurement value <", value: 2},
                {text: "Measurement value >", value: 3},
                {text: "Always", value: 4},
            ],
            notificationThreshold: this.settings.notificationThreshold,
            notificationRule: this.settings.notificationRule,
            notificationAddress: this.settings.notificationAddress,
            externalSource: this.settings.externalSource,
            newSubscriber: null,
        }
    },
    created() {
    },
    computed: {
        notificationPossible(){
            if (this.notificationRule == 0){
                return true; // never notifying, threshold and address dont matter
            } else if ((this.notificationRule > 0) && (this.notificationRule < 4)) {
                return this.validMailAdress && this.validThreshold    
            } else {
                return this.validMailAdress;
            }
        },
        validMailAdress() {
            var re = /\S+@\S+\.\S+/;
            return (this.notificationAddress !== null ) && re.test(this.notificationAddress)
        },
        validThreshold() {
            let re = /\d+\.?\d*/;
            return (this.notificationThresshold !== null) && re.test(this.notificationThreshold)
        }
    },
    methods:{
            notificationPossible() {
                            },

            closeSettings() {
                this.settings.open = false;

            },

            updateSettings() {
                const URL = '/api/sensors/' + this.sensorId;
                const req = {
                    headers:{
                        "content-type": "application/json; charset=UTF-8"
                    },
                    body: {
                        chartType: this.chartType,
                        name: this.name,
                        unit: this.unit,
                        notificationRule: this.notificationRule,
                        notificationThreshold: this.notificationThreshold,
                        notificationAddress: this.notificationAddress,
                        externalSource: this.externalSource
                    }                   
                }
                let resp = this.putRequest(URL, req);
            },

            deleteSensor(_event) {
                const URL = '/api/sensors/';
                this.deleteRequest( URL + this.sensorId );
                this.$emit("deletion")
            },

            addSubscriber() {
                const URL ="/api/sensors/" + this.sensorId;
                const req = {
                    headers:{
                        "content-type": "application/json; charset=UTF-8"
                    },
                    body: {
                        new_subscriber_name: this.newSubscriber
                    }                   
                }

                let resp = this.putRequest(URL, req)
                .then( resp => {
                    switch(resp.status){
                        case 200:
                            this.settings.subscriber.push({userName:this.newSubscriber});
                            break;
                        case 400:
                            break;
                        default:
                            break;
                    }
                })

            },

            deleteSubscriber(subscriber){
                const URL ="/api/sensors/" + this.sensorId;
                const req = {
                    headers:{
                        "content-type": "application/json; charset=UTF-8"
                    },
                    body: {
                        deleted_subscriber_name: subscriber.userName
                    }                   
                }

                let resp = this.putRequest(URL, req)
                .then( resp => {
                    switch(resp.status){
                        case 200:
                            let deleted_index = this.settings.subscriber.findIndex(x => x === subscriber);
                            if(deleted_index !== undefined) this.settings.subscriber.splice(deleted_index, 1)
                            break;
                        case 400:
                            break;
                        default:
                            break;
                    }
                })
            },

            async deleteRequest(url){
                let resp = await axios.delete(url)
                .then (resp => {
                    return resp;
                })
                .catch(error => {
                    return error.response;
                })
                return resp;
            },

            async putRequest(url, req) {
                let resp = await axios.put(url, req)
                .then (resp => {
                    return resp;
                }).catch(error => {
                    return error.response;
                })
                return resp;
            }
    }
}
</script>
<style scoped>
    #delete-sensor{
        float: left;
    }

    .form_field{
        display: flex;
        flex-flow: row;
    }
    .subscriber-list {
        overflow: scroll;
        max-height: 200px;
    }

</style>
