<template>
  <div class="sensor-hub">
    <sui-modal v-model="open">
        <sui-modal-header>Create new Sensor</sui-modal-header>
        <sui-modal-content register-form>
            <sui-label basic color="red" v-if="sensorError">{{ErrorMsg}}</sui-label>
            <sui-form v-on:submit.prevent="addSensor">
                <sui-form-field required> 
                    <label>Sensor name</label>
                    <sui-input reuired type="text" v-model="rname" placeholder="Moisture sensor kitchen"/>
                    <sui-label basic color="red" v-if="formErrors.sname" pointing> Please choose a name! </sui-label>
                </sui-form-field>
                <sui-form-field required>
                    <label>Chart Type</label>
                     <sui-dropdown
                        placeholder="Chart Type"
                        selection
                        :options="chartTypes"
                        v-model="current"
                    />                   
                </sui-form-field>
                <sui-form-field required> 
                    <label>Unit</label>
                    <input type="text" v-model="runit" placeholder="%">
                    <sui-label basic color="red" v-if="formErrors.sunit" pointing> Please define a measurement unit! </sui-label>
                </sui-form-field>
                <div is="sui-button-group">
                    <sui-button negative type="reset" @click.native="open = !open">Cancel</sui-button>
                    <sui-button-or/>
                    <sui-button positive type="submit">Add</sui-button>
                </div>
            </sui-form>
        </sui-modal-content>
    </sui-modal>

    <sui-card-group :items-per-row="3" class="sensor-display">
        <sensor class="sensor-tile"
          ref="sensor"
          v-for="(sensor, index) in sensors"
          v-bind:key="sensor"
          v-bind:sensor="sensor"
          v-on:deletion="handleDeletion(index)"
          :rname="sensor.name"
          :rid="sensor.id"
          :rApiToken="sensor.apiToken"
        ></sensor>
        <sui-card class="sensor-tile">
            <sui-card-content>
              <sui-card-header>
                  New Sensor
              </sui-card-header>
          </sui-card-content>
          <sui-button type="submit" attached="bottom" @click="open = !open">
            <sui-icon name="add" /> Add Sensor
          </sui-button>
        </sui-card>
    </sui-card-group>
  </div>
</template>

<script>
import Sensor from "./Sensor.vue"
import axios from 'axios'
export default {
  name: 'SensorHub',
  components: {
    Sensor,
  },

  data() {
    return {
      sensors : [],
      runit: null,
      rname: null,
      open: false,
      sensorError: false,
      errorMsg: null,
      formErrors: {
        sname: false,
        sunit: false
      },
      chartTypes: [
          {text: "Line Chart", value: "line"},
          {text: "Column Chart", value: "column"},
          {text: "Bar Chart", value: "bar"},
          {text: "Table", value: "table"}
      ],
      current: null,
    };
  },
  created: function() {
    
    this.open = false;
    this.retrieveSensors();
    
  },
  methods: {
    retrieveSensors() {
      const URL = '/api/sensors'
      const req = {
        headers:{
          "content-type": "application/json; charset=UTF-8"
        },
        body: {
          name: this.rname,
          unit: this.runit
        }
      }

      this.getRequest(URL, req)
      .then( resp => {
        switch(resp.status) {
          case 200:
            this.sensors = resp.data.sensors;
            break;
          case 400:
            this.errorMsg = resp.data.error;
            this.sensorError = true;
            break;
          default:
            this.errorMsg = resp.data.error;
            this.sensorError = true;
            break;
        }
      })
    },

    validateAddSensor() {
      if(this.rname && this.runit){
        this.formErrors.sname = false;
        this.formErrors.sunit= false;
        return true;
      }

      if(!this.rname){
        this.formErrors.sname = true;
      }

      if(!this.runit){
        this.formErrors.sunit = true;
      }

      return false;
    },

    addSensor(){
      if(this.validateAddSensor()){
        const URL = '/api/sensors'
        const req = {
          headers:{
            "content-type": "application/json; charset=UTF-8"
          },
          body: {
            name: this.rname,
            unit: this.runit,
            chartType: this.current
          }
        }
        this.postRequest(URL, req)
        .then( resp => {
          switch(resp.status) {
            case 200:
              this.sensorError = false;
              this.sensors = resp.data.sensors;
              this.open = !this.open;
              break;
            case 400:
              this.errorMsg = resp.data.error;
              this.sensorError = true;
              break;
            default:
              this.errorMsg = resp.data.error;
              this.sensorError = true;
              break;
          }
        })
      }
    },

    handleDeletion(index){
      this.sensors.splice(index, 1);
    },

    async getRequest(url, payload){
      let resp = await axios.get(url, payload)
      .then (resp => {
        return resp;
      }).catch (error => {
        return error.response;
      })
      return resp;
    },

    async postRequest(url, payload) {
      let resp = await axios.post(url, payload)
      .then (resp => {
        return resp;
      }).catch (error => {
        return error.response;
      })
      return resp;
    }
  }

};


</script>

<style lang="css" scoped>


  .sensor-hub {
    width: calc(100%-150px);
    width: -moz-calc(100% - 150px);
    width: -webkit-calc(100% - 150px);

  }
  .sensor-display {
    display: flex;
    flex-flow: row wrap;
  }
  .sensor-tile{
    min-width: 400px;
    flex: 1;
    box-sizing:border-box;
  }



</style>
