<template>
    <!-- <sui-button @click.native="getJSON()">Get Shopping List</sui-button> -->
    <!-- <div v-for="name in info">{{name}}</div> -->
    <sui-table celled striped unstackable class="shopping-list">
      <sui-table-header>
        <sui-table-row id="th-item">
          <sui-table-header-cell>Number</sui-table-header-cell>
          <sui-table-header-cell id="s-table">Item</sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>

      <sui-table-body>
        <sui-table-row v-for="item in displayedItems" v-bind:key="item">
          <sui-table-cell collapsing>{{item.number}}</sui-table-cell>
          <sui-table-cell>{{item.name}}</sui-table-cell>
        </sui-table-row>
      </sui-table-body>

      <sui-table-footer>
        <sui-table-row>
          <sui-table-header-cell colspan="2" class="ui center aligned">
            <sui-button-group size="small">
              <sui-button @click.native="page--" v-if="page > 1" icon="left chevron"></sui-button>
              <sui-button @click.native="page--" v-if="page <= 1" disabled icon="left chevron"></sui-button>

              <sui-button @click="page = pageNumber"  :active="isActive(pageNumber)" v-for="pageNumber in pages" v-bind:key="pageNumber"> {{pageNumber}} </sui-button>
              <sui-button @click.native="page++" v-if="page < pages.length" icon="right chevron"></sui-button>
              <sui-button @click.native="page++" v-if="page >= pages.length" disabled icon="right chevron"></sui-button>

            </sui-button-group>
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-footer>
    </sui-table>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "Table",
    props: ['items'],
    data() {
      return {
        items: this.items,
        page: 1,
        perPage: 7,
        pages: [],
      }
    },
    computed: {
      displayedItems() {
        console.log(this.paginate(this.items))
        return this.paginate(this.items);
      }
    },
    watch: {
      items() {
        this.setPages();
      }
    },
    
    methods: {
      isActive(pageNumber) {
        return pageNumber == this.page
      },
      setPages() {
        let numberOfPages = Math.ceil(this.items.length / this.perPage);
        console.log(numberOfPages);
        for (let index = 1; index <= numberOfPages; index++) {
          this.pages.push(index);
        }
      },
      paginate(items) {
        if (items == null) {
          return
        }
        let page = this.page;
        let perPage = this.perPage;
        let from = (page * perPage) - perPage;
        let to = (page * perPage);
        return items.slice(from, to);
      }
    },

  }
</script>

<style scoped>
  .shopping-list {
    overflow: scroll;
  }
  /* table {
    border-collapse: collapse;
    width: auto;
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
  }

  table, th, tr {
    border: 1px solid #ddd;
    text-align: center;
  }

  th {
    font-weight: bold;
    display: none;
  }

  #th-item {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  } */

</style>
