<template>
  <div id="app">
    <navigation id="nav-ui"/>
    <router-view id="router"/>

  </div>

</template>

<script>
// adds register component regardless of route, route only templates in ./router/index.js
import Navigation from "./components/Navigation.vue"

export default {
  name: 'app',
  components: {
    Navigation 
  },
  data() {
  },
  methods: {
  }
}
</script>
<style scoped>
/* html, body, #app {
  height: 100%;
  margin: 0
} */
#app {

  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; 

}
#router{
  position: absolute;
  margin-left: 150px;
  padding: 2%;
  z-index: 2;
}
#nav-ui {
  z-index: 1;
}

</style>
